.custom-checkout-container {
    display: flex;
    flex-wrap: wrap;
    .customer-infos {
        width: 60%;
        padding-right: 40px;
    }
    .order-infos {
        width: 40%;
    }
    @media (max-width: 768px) {
        .order-infos, .customer-infos {
            width: 100%;
        }
        .customer-infos {
            padding-right: 0;
        }
    }
}